In [3]:
#2024_01_26_AM1030
import requests

url = 'https://openapi-test-ukni.onrender.com/pico_w/?count=5'

r = requests.get(url=url)

if r.status_code == 200:
    print("下載成功")
    data = r.json()

print(data)

下載成功
[{'date': '2024-1-26 13:9:9', 'address': 'chicken_KFC', 'temperature': 27.98069, 'light': 1168.0}, {'date': '2024-1-26 13:10:8', 'address': 'chicken_KFC', 'temperature': 27.98069, 'light': 1184.0}, {'date': '2024-1-26 13:18:13', 'address': 'chicken_KFC', 'temperature': 28.44883, 'light': 1184.0}, {'date': '2024-1-26 13:31:56', 'address': 'chicken_KFC', 'temperature': 27.51254, 'light': 240.0}]

In [4]:
#2024_01_26_AM1100
import pandas as pd

pd.DataFrame(data)

                 date      address  temperature   light
0    2024-1-26 13:9:9  chicken_KFC     27.98069  1168.0
1   2024-1-26 13:10:8  chicken_KFC     27.98069  1184.0
2  2024-1-26 13:18:13  chicken_KFC     28.44883  1184.0
3  2024-1-26 13:31:56  chicken_KFC     27.51254   240.0